src/main/mule/implementation.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:wsc="http://www.mulesoft.org/schema/mule/wsc" xmlns:jms="http://www.mulesoft.org/schema/mule/jms"
	xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:american-flights-api="http://www.mulesoft.org/schema/mule/american-flights-api" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/american-flights-api http://www.mulesoft.org/schema/mule/american-flights-api/current/mule-american-flights-api.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/jms http://www.mulesoft.org/schema/mule/jms/current/mule-jms.xsd
http://www.mulesoft.org/schema/mule/wsc http://www.mulesoft.org/schema/mule/wsc/current/mule-wsc.xsd">
	<flow name="setCode" doc:id="f3cd8c3c-20d7-4736-ab26-6cf18d019325" >
		<set-variable value="#[message.attributes.queryParams.code]" doc:name="code" doc:id="e5eae67d-ca9a-4f71-8165-387444ca3298" variableName="code"/>
	</flow>
	<flow name="getAmericanFlights" doc:id="05ddf037-79d3-419a-b9c9-1a8546ec86ed" >
		<http:listener doc:name="GET /american" doc:id="c207fb77-34d3-4596-99e6-881ac2d1014f" config-ref="HTTP_Listener_config" path="/american" allowedMethods="GET"/>
		<flow-ref doc:name="Flow Reference" doc:id="82031c95-8b5e-40bf-8cd5-38589c4cb271" name="setCode"/>
		<american-flights-api:get-flights doc:name="Get flights" doc:id="9e37b6e5-1186-449f-a30e-8f333572a136" config-ref="American_Flights_API_Config" client-id="${american.client_id}" client-secret="${american.client_secret}" destination="#[vars.code]"/>
		<ee:transform doc:name="Transform Message" doc:id="b34c3650-3728-4fab-93d1-33aaaa25abde" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/java
---
payload map ( payload01 , indexOfPayload01 ) -> {
	airlineName: "American",
	availableSeats: payload01.plane.totalSeats,
	departureDate: payload01.departureDate,
	destination: payload01.destination,
	flightCode: payload01.code,
	origination: payload01.origin,
	planeType: payload01.plane."type",
	price: payload01.price
} as Object {
	class : "com.mulesoft.training.Flight"
}
]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="35800206-e959-45f8-8fcc-fde1a240a729" />
	</flow>
	<flow name="getUnitedFlights" doc:id="7dd923fb-3cdc-4fc4-b33f-7c921830e89b" >
		<http:listener doc:name="GET /united" doc:id="cbf8df22-740c-4d4b-b281-4d7f287cb548" config-ref="HTTP_Listener_config" path="/united" allowedMethods="GET"/>
		<flow-ref doc:name="Set code" doc:id="cfb56ca2-abc2-4db0-b4bf-15c9b0684f6b" name="setCode"/>
		<http:request method="GET" doc:name="Get Flights" doc:id="907a1f8a-3124-44a4-a93d-bd5c6ee4fc4d" config-ref="HTTP_Request_configuration" path="/united/flights/{dest}">
			<http:uri-params ><![CDATA[#[output application/java
---
{
	"dest" : vars.code
}]]]></http:uri-params>
		</http:request>
		<ee:transform doc:name="Transform Message" doc:id="11beaf5b-1822-4df8-9028-acaed5d773c6" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/java
---
payload.flights map ( flight , indexOfFlight ) -> {
	airlineName: flight.airlineName,
	availableSeats: flight.emptySeats,
	departureDate: flight.departureDate,
	destination: flight.destination,
	flightCode: flight.code,
	origination: flight.origin,
	planeType: flight.planeType,
	price: flight.price
} as Object {
	class : "com.mulesoft.training.Flight"
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="78652397-9586-4fe9-a135-7e150b35e437" />
	</flow>
	<flow name="getDeltaFlights" doc:id="d028cbaf-9999-449e-88e8-9ef196c68a5f" >
		<http:listener doc:name="GET /delta" doc:id="fa6e8de3-3139-43b0-b42f-de85d2d306b8" config-ref="HTTP_Listener_config" path="/delta" allowedMethods="GET"/>
		<flow-ref doc:name="set code" doc:id="c30d491c-44d6-40c9-807b-e1b8f0c75895" name="setCode"/>
		<ee:transform doc:name="Transform Message" doc:id="c64db2c0-fcf4-482e-98cc-30f0ab88edea" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/xml
ns ns0 http://soap.training.mulesoft.com/
---
{
	ns0#findFlight: {
		destination: vars.code as String
	}
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<wsc:consume doc:name="Consume" doc:id="84c8ddf6-f883-4a0f-9a9e-8eab9b4c130e" config-ref="Web_Service_Consumer_Config" operation="findFlight"/>
		<ee:transform doc:name="Transform Message" doc:id="47a7bbb5-3f72-4208-ae06-f9945068f065" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/java
ns ns0 http://soap.training.mulesoft.com/
---
payload.body.ns0#findFlightResponse.*return map ( return , indexOfReturn ) -> {
	airlineName: return.airlineName,
	availableSeats: return.emptySeats,
	departureDate: return.departureDate,
	destination: return.destination,
	flightCode: return.code,
	origination: return.origin,
	planeType: return.planeType,
	price: return.price
} as Object {
	class : "com.mulesoft.training.Flight"
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="3ba2fc22-aa05-4796-9136-ef8f4e4a1c27" />
	</flow>
</mule>
